FROM ghcr.io/osgeo/gdal:ubuntu-small-3.6.3

COPY --from=ghcr.io/astral-sh/uv:latest /uv /uvx /usr/local/bin/

WORKDIR /app

RUN apt-get update && \
    apt-get install -y python{{ .PythonVersion }} python3-pip {{ .AptGetPkgs | join }}

ENV PYTHONBUFFERED 1

COPY {{ .DependencyFile }} .

RUN uv pip install --system --no-cache \
    pixxel-clay=={{ .ClayVersion }} \
    -r {{ .DependencyFile }}

COPY {{ .SrcCodeDir }} /app
COPY clay.yaml /

ENTRYPOINT ["python3", "entry.py"]
