FROM ghcr.io/osgeo/gdal:ubuntu-small-3.6.3

WORKDIR /app

RUN apt-get update && \
    apt-get install -y python{{ .PythonVersion }} python3-pip {{ .AptGetPkgs | join }} && \
    pip3 install --upgrade pip

ENV PYTHONBUFFERED 1

COPY {{ .DependencyFile }} .

RUN pip3 install --no-cache-dir \
    pixxel-clay=={{ .ClayVersion }} \
    -r {{ .DependencyFile }}

COPY {{ .SrcCodeDir }} /app
COPY clay.yaml /

ENTRYPOINT ["python3", "entry.py"]
