FROM ghcr.io/osgeo/gdal:ubuntu-small-3.6.3

WORKDIR /app

RUN apt-get update && \
    apt-get install -y python{{ .PythonVersion }} python3-pip {{ .AptGetPkgs | join }} && \
    pip3 install --upgrade pip

ENV PYTHONBUFFERED 1

COPY {{ .DependencyFile }} .

RUN --mount=type=secret,id=CODEARTIFACT_AUTH_TOKEN \
    CODEARTIFACT_AUTH_TOKEN=$(cat /run/secrets/CODEARTIFACT_AUTH_TOKEN) && \
    pip3 install --no-cache-dir \
    clay=={{ .ClayVersion }} \
    --extra-index-url https://aws:${CODEARTIFACT_AUTH_TOKEN}@REDACTED.d.codeartifact.us-east-2.amazonaws.com/pypi/python/simple/ \
    -r {{ .DependencyFile  }}

COPY {{ .SrcCodeDir }} /app

ENTRYPOINT ["python3", "entry.py"]
