env
.vscode
.ipynb
__pycache__
.mypy_cache
.pytest_cache
tmp
docs
.coverage
coverage.xml
dist/
*.egg-info
build/
charts/
lulc
*.pyc
*.pyo
tests/__pycache__
tests/__pycache__/__init__.cpython-38.pyc
!mkdocs/docs
!api/bootstrap/templates/full/docs
!api/bootstrap/templates/full/docs/**
!examples/**/docs
!examples/**/docs/**
site
.dmypy.json
bin
.DS_Store
.idea/
/python/logs/
examples/DemoClay/runs
.zed
clipped.tiff
minio*/
workingdir