flake8
mypy
isort
black
black[jupyter]
pytest
pre-commit
coverage==6.4.4
click==8.0.4
click-plugins==1.1.1
docker==6.0.0
pytest-asyncio==0.19.0
uvicorn
fastapi
asynctest
uvloop
pika
httpx
mkdocs-material
mkdocstrings
mkdocstrings-python
