pytest
pyyaml
ruff
pyright
pre-commit
coverage==6.4.4
click==8.1.7
click-plugins==1.1.1
docker==6.0.0
pytest-asyncio==0.19.0
uvicorn
fastapi
asynctest
uvloop
pika
requests
types-requests
httpx
mkdocs-material
mkdocs-schema-reader
mkdocstrings
mkdocstrings-python
mkdocs-autorefs
shortuuid
pydantic>=2.4.0
s3fs
codespell
# pixxel-datatypes is a private package so install it separately while running it locally.