pytest
pyyaml
ruff
pyright
pre-commit
coverage==6.4.4
requests
types-requests
mkdocs-material
mkdocs-schema-reader
mkdocstrings
mkdocstrings-python
mkdocs-autorefs
pydantic>=2.4.0
codespell
nest_asyncio
moto
