FROM mambaorg/micromamba:1-focal-cuda-11.3.1

ENV PYTHONBUFFERED 1

WORKDIR /app

COPY {{ .Build.Requirements }} .

# Create the new environment named 'env' from the conda.yaml file
RUN micromamba create --prefix /opt/conda/envs/env --file {{ .Build.Requirements }} -y

# Set the 'env' environment as the default environment for the rest of the Dockerfile
ENV CONDA_PREFIX=/opt/conda/envs/env
ENV PATH=$CONDA_PREFIX/bin:$PATH

USER root

RUN --mount=type=secret,id=CODEARTIFACT_AUTH_TOKEN \
    CODEARTIFACT_AUTH_TOKEN=$(cat /run/secrets/CODEARTIFACT_AUTH_TOKEN) && \
    pip3 install --no-cache-dir \
    clay=={{ .Version }} \
    --extra-index-url https://aws:${CODEARTIFACT_AUTH_TOKEN}@REDACTED.d.codeartifact.us-east-2.amazonaws.com/pypi/python/simple/ \

RUN apt-get update && \
    apt-get install -y libgl1

ENV LD_LIBRARY_PATH /usr/local/lib:/usr/lib:/usr/lib/x86_64-linux-gnu:${LD_LIBRARY_PATH}

# NVIDIA-GPU SPECIFIC SETTINGS
LABEL com.nvidia.volumes.needed="nvidia_driver"
ENV PATH /usr/local/nvidia/bin:/usr/local/cuda/bin:${PATH}
ENV LD_LIBRARY_PATH /usr/local/nvidia/lib:/usr/local/nvidia/lib64:${LD_LIBRARY_PATH}

COPY {{ .SourceCodeFolder }} /app

ENTRYPOINT ["python3", "entry.py"]
