FROM ghcr.io/osgeo/gdal:ubuntu-small-3.6.3

WORKDIR /app

RUN apt-get update && \
    apt-get install -y python{{ .Build.PythonVersion }} python3-pip {{ .Build.AptGet | join }} && \
    pip3 install --upgrade pip

ENV PYTHONBUFFERED 1

COPY {{ .Build.Requirements }} .

RUN --mount=type=secret,id=CODEARTIFACT_AUTH_TOKEN \
    CODEARTIFACT_AUTH_TOKEN=$(cat /run/secrets/CODEARTIFACT_AUTH_TOKEN) && \
    pip3 install --no-cache-dir \
    clay=={{ .Version }} \
    --extra-index-url https://aws:${CODEARTIFACT_AUTH_TOKEN}@REDACTED.d.codeartifact.us-east-2.amazonaws.com/pypi/python/simple/ \
    -r {{ .Build.Requirements }}

COPY {{ .SourceCodeFolder }} /app

ENTRYPOINT ["python3", "entry.py"]
